·circuit/algorithm/__pycache__/
pattern_extractor/__pycache__/
simulator/__pycache__/
*/__pycache__
pattern_extractor/model
model/
*.pyc
*.pkl
*.svg
*.png
screenlog.0
*.zip
temp_data/
*.pkl
screenlog.*
*qubit_data
*qubit_data
table_size
*.xlsx
devide_figure
stitching_figure
execute_18bit
*__pycache__
5qubit_data
9qubit_data
table_size
*.xlsx
devide_figure
*.svg
*.pkl
*.log
screen*
*.png
3/*
4/*
5/*
6/*
8/*
10/*
4_test/*
5_test/*
5_app/*
synthesis_result_baseline/*
4_17_logq_6.1
neighbor
test/*
tmp/*
*.log
screen*
*.mat
*.png
*.pyc
test/*