·circuit/algorithm/__pycache__/
pattern_extractor/__pycache__/
simulator/__pycache__/
*/__pycache__
pattern_extractor/model
model/
*.pyc
*.pkl
*.svg
*.png
screenlog.0
*.zip
temp_data/
*.pkl
screenlog.*
*qubit_data
*qubit_data
table_size
*.xlsx
devide_figure
stitching_figure
execute_18bit