·circuit/algorithm/__pycache__/
pattern_extractor/__pycache__/
simulator/__pycache__/
*/__pycache__
pattern_extractor/model
model/
*.pyc
*.pkl
*.svg
*.png
*.zip
temp_data/
*.pkl
screenlog.*
*.xlsx
execute_18bit
*__pycache__
*.log
screen*
synthesis_result_baseline/*
*.mat
test/*
tmp/*